<section class="flex mt-24 items-center flex-col justify-center">
  <h2 class="text-xl text-gray-600 font-bold uppercase">Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field py-2">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "email", 
      placeholder: 'Username',  class:'rounded'  %>
    </div>
    <div class="field py-2">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password",  
      placeholder: 'Password', class:'rounded' %>
    </div>
    <div class="actions py-2">
      <%= f.submit "Log in", class: 'btn-primary w-full py-2 cursor-pointer rounded' %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</section>
