<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title><%= content_for(:title) ? content_for(:title) : "LofiMusic" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'app_svelte' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body>
    <%= render 'shared/header' %>
    <main class='container m-auto max-w-5xl'>
      <div class="mx-auto m-5">
        <%= render 'shared/mensagers' %>
      </div>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
